.page.theme_dark {
  --bg-image: url("../images/cover-image-dark.png");
  --color-main-title: var(--color-purple, #db00ff);
  --color-shadow: var(--color-pink-1, #ff0070);
  --color-button: var(--color-pink-1, #ff0070);
  --color-title-decor: var(--color-black, #000020);
  --color-accent: var(--color-pink-1, #ff0070);
  --color-decor: var(--color-pink-1, #ff0070);
  --color-text: var(--color-pink-4, #f1b2ce);
  --color-title-accent: var(--color-pink-1, #ff0070);
  --rec-decor: visibile;
}

@media (prefers-color-scheme: dark) {
  :root {
    --bg-image: url("../images/cover-image-dark.png");
    --color-main-title: var(--color-purple, #db00ff);
    --color-shadow: var(--color-pink-1, #ff0070);
    --color-button: var(--color-pink-1, #ff0070);
    --color-title-decor: var(--color-black, #000020);
    --color-accent: var(--color-pink-1, #ff0070);
    --color-decor: var(--color-pink-1, #ff0070);
    --color-text: var(--color-pink-4, #f1b2ce);
    --color-title-accent: var(--color-pink-1, #ff0070);
    --rec-decor: visibile;
  }
}
