:root {
  --color-brand: #ff0070;
  --color-title: #ffc2e6;
  --color-text-accent: #f1b2ce;
  --color-bg-light: #fff1f7;

  --color-pink: #ff8dcb;
  --color-purple: #db00ff;

  --color-black: #000028;
  --color-black-second: #353430;

  --color-main-title: var(--color-purple, #db00ff);
  --color-shadow: var(--color-brand, #ff0070);
  --color-shadow-second: var(--color-pink, #ff8dcb);
  --color-title-decor: var(--color-brand, #ff0070);
  --color-title-accent: var(--color-brand, #ff0070);
  --color-decor: var(--color-black, #000028);
  --color-accent: var(--color-brand, #ff0070);
  --color-button: var(--color-brand, #ff0070);
  --color-text: var(--color-text-accent, #f1b2ce);
  --color-hover: #ff007040;
  --rec-decor: visibile;

  --bg-image: url(../images/cover-image.png);
  --bg-color: var(--color-black, #000028);
  --font-family: 'IBM Plex mono', monospace;
 }
